# Projetos em python
*.pyc
.ropeproject

# Projetos em java
.idea
target
.settings
.project
.classpath


# Projetos em c#
MensagemCS/MensagemCS/bin
MensagemCS/MensagemCS/obj
MensagemCS/MensagemTest/bin
MensagemCS/MensagemTest/obj

